@model ITS.DichiarativiMVC.Web.Models.Dichiarativo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dichiarativo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RN01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RN01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RN02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RN02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DichiarativoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
